.elementsNavigation {
       border: none;
}

td, th {
    border:none;
}

#formations {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}

div .formations {
    width: 50%;
}

div .savoirEtre {
    width: 51%;
}

#japon {
    height: 150px;
    border-radius: 25px;
}
    
#piano {
    height: 150px;
    border-radius: 25px;
}

#musique {
    height: 150px;
    border-radius: 25px;
}

